.tile{
    border-style: solid; 
    border-color: black;
    border-width: 2px; 
    padding: auto;
}
.banner{
    background-color: darkred; 
    color: white;
    font-size: x-large;
    font-family: Helvetica;
    align-items: center;
    justify-content: center;
    color: white;
    display: flex;
}

.banner > p {
    flex: 0 1 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    font-size: xx-large;
    
}
.img-fluid {
    height: auto;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-right: auto;
}