body {
    font-family: "Helvetica";
    background-image: url(/Pictures/umass_overview.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* 850000 */
    /* bc6363 */
}

.continue {
    border-radius: 10px;
    text-align: center;
    color: white;
    border: none;
    background-color: #007FFF;
    width: 120px;
    height: 40px;
}

.container {
    margin-bottom: 50px;
}

#card {
    border: none;
}

#signup-header {
    font-size: 36px;
    background-color: maroon;
}

#signup-logo-title {
    text-decoration: none;
    color: white;
}

#signup-header > a > img {
    width: 170px;
    height: 100px;
}

#login_link {
    text-decoration: none;
}

#first_name {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#last_name {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* overridding the form control */
.form-control-lg {
    min-height: calc(1.5em + 1rem + calc(var(--bs-border-width) * 1.0));
    font-size: 1.00rem;
    /* bring the text field boxes closer */
    margin-top: -10px;
}

form-control::placeholder {
    font-family: 'Courier New', Courier, monospace;
}

#signup-alert {
    display: none;
}

.password-section {
    height: 100%;
    width: 100%;
    /* inline-block is important to put components side by side */
    display: inline-block;
    position: relative;
}

.password-section .icon {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 8px;
}