.banner {
    background-color: maroon;
    color: white;
    font-size: x-large;
    font-family: Helvetica;
    align-items: center;
    justify-content: center;
    color: white;
    display: flex;
    margin-bottom: 0.5px; 
}

.banner>p {
    flex: 0 1 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 45px;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 20px;
}

.img-fluid {
    height: auto;
    width: 110px;
    margin-top: 5px;
    margin-left: 40px;
    margin-bottom: 5px;
    margin-right: auto;
}

.footer-img-fluid {
    height: auto;
    width: 110px;
    margin-left: auto;
    margin-right: auto;
}

.banner>a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    overflow: hidden;
    transition: box-shadow .3s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.banner>a:hover {
    text-decoration: underline;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    color: aquamarine;
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}