#title {
    font-family: comic sans ms, cursive;
    font-weight: 200;
}

.tile{
    border-style: solid; 
    border-color: black;
    border-width: 2px; 
    padding: auto;
}
.banner{
    background-color: maroon; 
    color: white;
    font-size: x-large;
    font-family: Helvetica;
    align-items: center;
    justify-content: center;
    color: white;
    display: flex;
    margin-bottom: 5px;
}

.banner > p {
    flex: 0 1 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 45px;
    font-size: xx-large;
    font-weight: bold;
}
.img-fluid {
    height: auto;
    width: 150px;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-right: auto;
}
.banner > a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    overflow:hidden;
    transition: box-shadow .3s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.banner > a:hover{
    text-decoration: underline;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    color: aquamarine;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

/* The below is for main search area */
.main-search-area {
    background-image: url("../../Pictures/main_page_worcester.png");
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 90%;
    margin-bottom: 5px;
}
.main-search-area > p {
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    top: 34%;
    font-size: xx-large;
    color: white;
    font-size: xx-large;
    font-weight: 430;
    text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
}
.main-search-area > input{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    position: absolute;
    margin-left: 50%;
    text-align: center;
    transform: translateX(-50%);
    top: 45%;
}
.main-search-area > input::placeholder{
    text-align: center;
}


.card-group {
    padding: 10px 10px 10px 10px;
    margin-left: 2px;
    margin-right: 2px;
}


.card {
    /* margin: 5px 5px 5px 5px; */
    border: 1.5px solid;
    background-size: 100%;
    height: auto;
    width: 380px;
    background-color: rgb(252,252,252);
}

.card:hover {
    transform: scale(1.08) rotate(0.8deg);
    background-color: rgb(142, 35, 35);
    color: white;
    background-size: 100%;
    background-position: center;
    transition: 0.5s ease-out;
    transition-timing-function: linear;
}

.card-img-top {
    height: 250px;
    width: 100%;
    background-size: 100%;
    background-position: center;
    cursor: -webkit-zoom-in;
    /* Include these two following attributes would make the picture to not connect to the edge frames */
    /* margin-top: 10px; */
    /* padding: 10px 10px 10px 10px;  */
}


