.tile{
    border-style: solid; 
    border-color: black;
    border-width: 2px; 
    padding: auto;
}
.banner{
    background-color: darkred; 
    color: white;
    font-size: x-large;
    font-family: Helvetica;
    align-items: center;
    justify-content: center;
    color: white;
    display: flex;
    margin-bottom: 5px;
}

.banner > p {
    flex: 0 1 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 45px;
    font-size: xx-large;
    font-weight: bold;
}
.img-fluid {
    width: 150px;
    height: auto;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-right: auto;
}
.banner > a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
.banner > a:hover{
    text-decoration: underline;
    color: lightblue;
}

/* The below is for main search area */
.main-search-area {
    background-image: url("/Pictures/main_page_worcester.png");
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 80%;
    margin-bottom: 5px;
}
.main-search-area > p {
    color:white;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    top: 32%;
    font-size: xx-large;
    color: black;
    background-color: #cfcfcf;
}
.main-search-area > input{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    top: 45%;
}
.main-search-area > input::placeholder{
    text-align: center;
}

.card-img-top {
    width: auto;
    height: 250px;
    margin-top: 10px;
    margin-right: 20px;
    padding: 10px 10px 10px 10px;
}
.card-group {
    padding: 15px 15px 15px 15px;
}

/* #footer-logo {
    /* position: absolute; 
} */