#title {
    font-family: comic sans ms, cursive;
    font-weight: 200;
    font-size: xx-large;
}

.tile {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding: auto;
}

.banner {
    background-color: maroon;
    color: white;
    font-size: x-large;
    font-family: Helvetica;
    align-items: center;
    justify-content: center;
    color: white;
    display: flex;
    margin-bottom: 5px;
}

.banner>p {
    flex: 0 1 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 45px;
    font-size: xx-large;
    font-weight: bold;
}

.img-fluid {
    height: auto;
    width: 150px;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-right: auto;
}

.banner>a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    overflow: hidden;
    transition: box-shadow .3s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.banner>a:hover {
    text-decoration: underline;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    color: aquamarine;
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

/* The below is for main search area */
.main-search-area {
    position: relative;
    background-image: url("../../Pictures/main_page_worcester.png");
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 95%;
    margin-bottom: 5px;
}

.main-search-area>p {
    position: relative;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    top: 25%;
    font-size: xx-large;
    color: white;
    font-size: xx-large;
    font-weight: 430;
    text-shadow: 2px 4px 4px rgba(46, 91, 173, 0.6);
}

.search-area {
    width: 30em;
    display: inline-block;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
    top: 33%;
    font-family: sans-serif;
}

/* search input */
.search-area .search-input {
    position: relative;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

/* customize the input inside the search bar */
.search-input input {
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 20px;
    background: F0F0F0;
}

/* position the magnifying glass */
.search-input .icon {
    height: 55px;
    width: 55px;
    line-height: 55px;
    /* the glass should be isolated from the text field and
    should be positioned on top right  */
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    color: maroon;
    cursor: pointer;
}

.search-input .drop-down-box {
    max-height: 280px;
    overflow-y: auto;
    /* padding: 10px 8px; */
}

.drop-down-box li {
    /* get rid of the bullet point */
    list-style: none;
    padding: 10px 12px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    /* display: none; */
}

.drop-down-box li:hover {
    background: rgb(224, 220, 220);
} 


.card-group {
    padding: 5px 5px 5px 10px;
    margin-left: 2px;
    margin-right: 2px;
}


.card {
    /* margin: 5px 5px 5px 5px; */
    border: 1.5px solid;
    background-size: 100%;
    height: auto;
    width: auto;
    background-color: rgb(252, 252, 252);
    cursor: -webkit-zoom-in;
}

.card:hover {
    transform: scale(1.054) rotate(0.8deg);
    background-color: rgb(142, 35, 35);
    color: white;
    background-size: 100%;
    background-position: center;
    transition: 0.5s ease-out;
    transition-timing-function: linear;
}

.card-img-top {
    height: auto * 0.8;
    width: 100%;
    background-size: 100%;
    background-position: center;
    /* Include these two following attributes would make the picture to not connect to the edge frames */
    /* margin-top: 10px; */
    /* padding: 10px 10px 10px 10px;  */
}