
body {
    font-family: "Helvetica";
    background-color: #ba5959;
    /* 850000 */
    /* bc6363 */
}

.continue {
    border-radius: 10px;
    text-align: center;
    color: white;
    background-color: #007FFF;
    width: 120px;
    height: 40px;
}


#login-header {
    font-size: 36px; 
    background-color:maroon;
}

#login-logo-title{
    text-decoration: none; 
    color:white;
}

#login-header > a > img{
    width: 200px ;
    height: 100px;
}

#signup_link {
    text-decoration: none;
}
