body {
    font-family: "Helvetica";
    background-color: #ba5959;
    /* 850000 */
    /* bc6363 */
}

.continue {
    border-radius: 10px;
    text-align: center;
    color: white;
    border: none;
    background-color: #007FFF;
    width: 120px;
    height: 40px;
}

.container {
    margin-bottom: 50px;
}

#card {
    border: none;
}

#signup-header {
    font-size: 36px;
    background-color: maroon;
}

#signup-logo-title {
    text-decoration: none;
    color: white;
}

#signup-header > a > img {
    width: 170px;
    height: 100px;
}

#login_link {
    text-decoration: none;
}
/* overridding the form control */
.form-control-lg {
    min-height: calc(1.5em + 1rem + calc(var(--bs-border-width) * 1.0));
    font-size: 1.10rem;
    /* bring the text field boxes closer */
    margin-top: -10px;
}